<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>设置我的资料</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">设置我的资料</div>
                <div class="layui-card-body" pad15>

                    <div class="layui-form" lay-filter="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">我的角色</label>
                            <div class="layui-input-inline">
                                <select name="role" lay-verify="" id="user-role-all">

                                </select>
                            </div>
                            <div class="layui-form-mid layui-word-aux">当前角色不可更改为其它角色</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username"  class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">可用于后台登录账户</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">手机</label>
                            <div class="layui-input-inline">
                                <input type="text" name="cellphone"  readonly  lay-verify="phone" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">暂不支持修改，用于后台登录</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">昵称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="nickname"  lay-verify="nickname" autocomplete="off" placeholder="请输入昵称" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">QQ</label>
                            <div class="layui-input-inline">
                                <input type="text" name="qq"  lay-verify="number" autocomplete="off" placeholder="请输入qq" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">头像</label>
                            <div class="layui-input-inline">
                                <input name="avatar" lay-verify="required" id="LAY_avatarSrc" placeholder="图片地址"  class="layui-input">
                            </div>
                            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                                <button type="button" class="layui-btn layui-btn-primary" id="LAY_avatarUpload_icon">
                                    <i class="layui-icon">&#xe67c;</i>上传图片
                                </button>
                                <button class="layui-btn layui-btn-primary" layadmin-event="avartatPreview">查看图片</button >
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">邮箱</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" th:value="${session.user.userEmail}" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="setmyinfo">确认修改</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块 
    }).use(['index','form', 'upload','common'],function(){
    	 var $ = layui.$
    	        , layer = layui.layer
    	        , laytpl = layui.laytpl
    	        , setter = layui.setter
    	        , view = layui.view
    	        , admin = layui.admin
    	        , form = layui.form
    			, common=layui.common
    	        , upload = layui.upload;
    	
    	    var $body = $('body');
			var user=layui.data(setter.tableName).USER;
			//console.log(user)
			$("[name='username']").val(user.userAccount);
			$("[name='cellphone']").val(user.userPhone);
			$("[name='nickname']").val(user.userAccount);
			$("[name='qq']").val(user.userQq);
			$("[name='avatar']").val(user.icon);
			$("[name='email']").val(user.userEmail);
			common.get("user/selectAllRole",{},function(res){
                var html='';
                $.each(res.data,function(key,value){
                    //console.log(value.roleId+"==========="+roleid)
                    if(value.roleId==1){
                        html+="<option  value='"+value.roleId+"' checked>"+value.roleName+"</option>";
                    }else {
                        html+="<option  value='"+value.roleId+"'disabled>"+value.roleName+"</option>";
                    }
                })
                $('#user-role-all').html(html);
                form.render("select");
            });
       
		
		function getToken(){
		    return layui.data(setter.tableName).token;
		}
				
		//用户资料设置
		form.on('submit(setmyinfo)', function (obj) {
		    //console.log(JSON.stringify(obj.field));
		    //提交修改
			var index = layer.load(1);
			common.post("user/updateUserSelf",obj.field,function (res) {
				    layer.close(index);
		            layer.msg(res.msg)
					
					layui.data(setter.tableName, {
						key: "USER",
						value: res.data
					});
		        });
		    return false;
		});
				
		//上传用户头像
		var avatarSrc = $('#LAY_avatarSrc');
		upload.render({
		    url: layui.setter.requeryUrl + 'fileUploadToQiniuyun',
			headers: {
				'Access-Control-Allow-Origin': "*",
				'token': getToken()
			}
		    , elem: '#LAY_avatarUpload_icon'
		    , accept: 'file'
		    , method: 'POST'
		    , acceptMime: 'image/*'
		    , done: function (res) {
		        if (res.state == 1) {
		            avatarSrc.val(res.data);
		        } else {
		            layer.msg(res.msg, {icon: 5});
		        }
		    }
		});
				
		//查看用户头像
		admin.events.avartatPreview = function (othis) {
		    var src = avatarSrc.val();
		    layer.photos({
		        photos: {
		            "title": "查看头像" //相册标题
		            , "data": [{
		                "src": src //原图地址
		            }]
		        }
		        , shade: 0.01
		        , closeBtn: 1
		        , anim: 5
		    });
		};


    });
</script>
</body>
</html>