<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>layuiAdmin 角色管理</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
	</head>
	<body>
		<div class="layui-fluid">
			<div class="layui-card">
				<div class="layui-form layui-card-header layuiadmin-card-header-auto">
					<div class="layui-form-item">
						<div class="layui-inline">
							角色筛选
						</div>
						<div class="layui-inline">
							<select name="rolename" lay-filter="LAY-user-adminrole-type">
								<option value="-1">全部角色</option>
								<option value="1">管理角色</option>
								<option value="2">用户角色</option>

							</select>
						</div>
					</div>
				</div>
				<div class="layui-card-body">
					<div style="padding-bottom: 10px;">
						<button class="layui-btn layuiadmin-btn-role" data-type="batchdel">删除</button>
						<button class="layui-btn layuiadmin-btn-role" data-type="add">添加</button>
					</div>

					<table id="LAY-user-back-role" lay-filter="LAY-user-back-role"></table>
					<!-- <script type="text/html" id="buttonTpl">
             {{#  if(d.check == true){ }}
             <button class="layui-btn layui-btn-xs">已审核</button>
             {{#  } else { }}
             <button class="layui-btn layui-btn-primary layui-btn-xs">未审核</button>
             {{#  } }}
         </script>-->
					<script type="text/html" id="table-useradmin-admin">
						<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
                        class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                        class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
				</div>
			</div>
		</div>
		<script src="../../layuiadmin/layui/layui.js"></script>
		<script>
			layui.config({
				base: '../../layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index', //主入口模块
				common: 'common'
			}).use(['index', 'layer', 'laytpl', 'view', 'form', 'admin', 'table', 'laypage', 'common'], function(exports) {
				var $ = layui.$,
					layer = layui.layer,
					laytpl = layui.laytpl,
					setter = layui.setter,
					view = layui.view,
					table = layui.table,
					admin = layui.admin,
					laypage = layui.laypage,
					common = layui.common,
					form = layui.form;

				selectList()

				function selectList() {
					//角色管理

					common.get("user/queryRolePage", {}, function(res) {
						table.render({
							elem: '#LAY-user-back-role',
							data: res.data,
							cols: [
								[{
									type: 'checkbox',
									fixed: 'left'
								}, {
									field: 'id',
									width: 80,
									title: 'ID',
									sort: true,
									align: 'center'
								}, {
									field: 'rolename',
									title: '角色名',
									width: 150
								}, {
									field: 'roleRank',
									title: '角色级别',
									width: 150,
									sort: true,
									align: 'center'
								}, {
									field: 'descr',
									title: '具体描述'
								}, {
									title: '操作',
									width: 150,
									align: 'center',
									fixed: 'right',
									toolbar: '#table-useradmin-admin'
								}]
							],
							limit: 50,
							text: {
								none: '居然什么也木有···'
							}
						});
					});


				}


				//选择角色类型 select 选中事件
				form.on('select(LAY-user-adminrole-type)', function(data) {
					//执行重载
					table.reload('LAY-user-back-role', {
						where: {
							roletype: data.value
						}
					});
				});




				//事件
				var active = {
					/*删除*/
					batchdel: function() {
						var checkStatus = table.checkStatus('LAY-user-back-role'),
							checkData = checkStatus.data; //得到选中的数据

						if (checkData.length === 0) {
							return layer.msg('请选择数据');
						}

						layer.confirm('确定删除吗？', function(index) {

							//批量删除  执行 Ajax 后重载
							//console.log(checkData)
							var mycars = new Array()
							for (var i = 0; i < checkData.length; i++) {
								mycars[i] = checkData[i].id;
							}
                            common.get("user/deleteRole",{"checkData": mycars},function(res) {
									table.reload('LAY-user-back-role');
									layer.msg('已删除');

									setTimeout(function() {
										selectList()
										//location.reload()
									}, 1500)

								});
						});
					},
					/*新增*/
					add: function() {
						layer.open({
							type: 2,
							title: '添加新角色',
							content: 'add_role.html',
							area: ['600px', '650px'],
							btn: ['确定', '取消'],
							success: function(layero, index) {
									//START：传递参数
									var iframe = window['layui-layer-iframe' + index];
									var resDat = {
										"type": 1,
										"roleId": 0
									}
									iframe.child(resDat);
									//END：传递参数
							},
							yes: function(index, layero) {
								var iframeWindow = window['layui-layer-iframe' + index],
									submit = layero.find('iframe').contents().find("#LAY-user-role-submit");
								//监听提交
								iframeWindow.layui.form.on('submit(LAY-user-role-submit)', function(data) {
									var field = data.field; //获取提交的字段
									//console.log(field)
									var checkbox = chuliCheckbox(field)
									//console.log(checkbox)
									if (checkbox.length == 0) {
										layer.msg("权限至少选一个吧！");
										return false;
									}
									var datajson = {
										"name": field.name,
										"checkbox": checkbox,
										"descr": field.descr,
										"codeId": field.codeId,
										"roletype": field.roletype,
										"roletype": field.roletype,
										"roleRank": field.roleRank,
										"roleSort": field.roleSort
									}
									//提交 Ajax 成功后，静态更新表格中的数据

									//console.log(datajson);

									//return   false;
									common.post("user/addRoleInfo",datajson,function(res) {
											layer.msg(res.msg);
											setTimeout(function() {
												selectList()
												//location.reload()
											}, 1500)
										});
									
									table.reload('LAY-user-back-role');
									layer.close(index); //关闭弹层*!/*/
								});

								submit.trigger('click');
							}
						});
					}
				}

				$('.layui-btn.layuiadmin-btn-role').on('click', function() {
					var type = $(this).data('type');
					active[type] ? active[type].call(this) : '';
				});

				//监听工具条  表格 的 del  和  edit   删除  编辑
				table.on('tool(LAY-user-back-role)', function(obj) {
					var data = obj.data;
					if (obj.event === 'del') {
						layer.confirm('确定删除此角色？', function(index) {
							var mycars = new Array()
							mycars[0] = data.id;
							common.get("user/deleteRole",{"checkData": mycars},function(res){
								table.reload('LAY-user-back-role');
								layer.msg('已删除');
								setTimeout(function() {
									layer.close(index);
									selectList()
								}, 1000)
							});
						}, function() {
							layer.close(index);
							layer.msg('取消操作');
						});
					} else if (obj.event === 'edit') {
						var tr = $(obj.tr);
						layer.open({
							type: 2,
							title: '编辑角色',
							content: 'add_role.html',
							area: ['600px', '80%'],
							btn: ['确定', '取消'],
							success: function(layero, index) {
									//START：传递参数
									var iframe = window['layui-layer-iframe' + index];
									var resDat = {
										"type": 2,
										"roleId": data.id
									}
									iframe.child(resDat);
									//END：传递参数
							},
							yes: function(index, layero) {
								var iframeWindow = window['layui-layer-iframe' + index],
									submit = layero.find('iframe').contents().find("#LAY-user-role-submit");

								//监听提交
								iframeWindow.layui.form.on('submit(LAY-user-role-submit)', function(data) {
									var field = data.field; //获取提交的字段
									//console.log(JSON.stringify(field))
									//提交 Ajax 成功后，静态更新表格中的数据
									var checkbox = chuliCheckbox(field)
									if (checkbox.length == 0) {
										layer.msg("权限至少选一个吧！");
										return false;
									}
									var datajson = {
										"roleSort": field.roleSort,
										"name": field.name,
										"checkbox": checkbox,
										"descr": field.descr,
										"codeId": field.codeId,
										"roleId": field.roleId,
										"roleType": field.roleType,
										"roleRank": field.roleRank,
										"roletype": field.roletype
									}
									//console.log(datajson)
									//提交 Ajax 成功后，静态更新表格中的数据
									var indexms = layer.load(1);
									common.post("user/updateRole",datajson,function(res){
										layer.close(indexms); //关闭弹层
										layer.msg(res.msg);
										setTimeout(function() {
											selectList()
											table.reload('LAY-user-back-role'); //数据刷新
											layer.close(index); //关闭弹层
										}, 1500)
									});
								});
								submit.trigger('click');
							}
						})
					}
				});

				/*-----------------------处理变态的格式数据------------------------*/
				function chuliCheckbox(data) {
					var str = JSON.stringify(data)
					//console.log(str)
					//找出字符'[' 总共出现几次
					var n = (str.split('[')).length - 1;

					//然后遍历  截取字符串
					var mycars = new Array()
					for (var i = 1; i <= n; i++) {
						var left = find(str, '[', i)
						var right = find(str, ']', i)
						/*截取字符串*/
						var s = str.substring(left + 1, right);
						mycars[i - 1] = s;
					}

					return mycars;
				}
				/* str 字符串  cha  字符   num 第几次出现 */
				function find(str, cha, num) {
					var x = str.indexOf(cha);
					for (var i = 1; i < num; i++) {
						x = str.indexOf(cha, x + 1);
					}
					return x;
				}


			});
		</script>
	</body>
</html>
